server:
  hostname: 127.0.0.1
  port: 2002
services:
  database:
    type: mariadb
    host: 127.0.0.1
    port: 3306
    username: syzoj-ng
    password: syzoj-ng
    database: syzoj-ng
  minio:
    endPoint: syzoj-ng.test
    port: 9000
    useSSL: false
    accessKey: minioadmin
    secretKey: minioadmin
    bucket: syzoj-ng-files
  redis: redis://127.0.0.1:6379
  mail:
    address: no-reply@syzoj-ng.test
    transport: smtp://username:password@syzoj-ng-smtp.test:25
security:
  crossOrigin:
    enabled: true
    whiteList:
      - http://syzoj-ng-app.test
  sessionSecret: don't leak this
  maintainceKey: also don't leak this
preference:
  siteName: SYZOJ NG
  requireEmailVerification: true
  allowUserChangeUsername: true
  allowEveryoneCreateProblem: true
  allowNonAdminEditPublicProblem: true
  allowOwnerManageProblemPermission: false
  allowOwnerDeleteProblem: true
resourceLimit:
  problemTestdataFiles: 40
  problemTestdataSize: 134217728
  problemAdditionalFileFiles: 40
  problemAdditionalFileSize: 134217728
  problemTestcases: 20
  problemTimeLimit: 2000
  problemMemoryLimit: 512
queryLimit:
  problemSetProblemsTake: 100
  submissionsTake: 10
  submissionStatisticsTake: 10
  searchUserTake: 10
  searchGroupTake: 10
  userListUsersTake: 100
