Your change email verification code for <%= siteName %>
<p>
  Your change email verification code for <%= siteName %> is <b><%= code %></b>. It will expire in 15 minutes.
</p>
<p>
  If you are not changing your email address on <%= siteName %> to this email address, please ignore this email.
</p>
