Your register verification code for <%= siteName %>
<p>
  Your register verification code for <%= siteName %> is <b><%= code %></b>. It will expire in 15 minutes.
</p>
<p>
  If you are not registering on <%= siteName %>, please ignore this email.
</p>
