Your reset password verification code for <%= siteName %>
<p>
  Your reset password verification code for <%= siteName %> is <b><%= code %></b>. It will expire in 15 minutes.
</p>
<p>
  If you are not resetting your password on <%= siteName %>, please ignore this email. Your account is still safe.
</p>
